header{
    text-align: center;
    background: linear-gradient(135deg, rgb(135, 130, 132) 0%, rgb(233, 136, 231)100%);
    padding: 40px;
    margin: 0;

} 
nav{
    background-color: rgb(32, 32, 32);
    padding: 20px;
    text-align: center;
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
}
nav a:hover{
    background-color: gray;
}
body{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(254, 223, 228);
    
}
main{
    padding: 20px;
}

table {
    border: 2px solid black;
    width: 80%;
    border-collapse: collapse;
    
   
}
table th{
    background-color: rgb(209, 187, 228);
    text-align: center;
    font-weight: bold;
}
th,td {
    border: 2px solid gray;
    padding: 7px 20px;
}
.project-card{
   
  display: inline-block;
  width: 250px;
  height: 120px;
  margin: 10px;
  padding: 35px;
  background-color: rgb(210, 205, 205);
  border: 1px solid #ccc;
  border-radius: 10px;
  vertical-align: top;
  text-align: left;
}
footer{
    background-color: black;
    color:white;
    text-align: center;
    padding: 20px;
}